<div class="outer-container">
  <app-filter-sort  fxHide.lt-md
                    (sortEventEmitter)="onFilter($event)" (filterEventEmitter)="flexFilter($event)" ></app-filter-sort>

  <div class="list__container">
    <div
      fxHide.gt-sm
      class="list__actions">

      <button
        *ngIf="isAuth"
        mat-stroked-button
        color="primary"
        class="list__actions--action"
        (click)="openAddItemDialog()">
        <mat-icon>add</mat-icon>
        افزودن آیتم جدید
      </button>
      <button
        mat-stroked-button
        class="list__actions--action"
        color="primary"
        (click)="openFilterSortDialog()">
        <mat-icon>filter_alt</mat-icon>
        فیلتر و جستوجو
      </button>
    </div>

    <div class="loadingScreen" *ngIf="isLoading">
      <mat-spinner color="accent" ></mat-spinner>
    </div>

  <div class="item__container" *ngIf="!isLoading">

    <div
      *ngFor="let item of mergedList "
      class="card__container" >
      <mat-card class="card" >
        <div class="card__innerCon">
        <mat-card-header class="card__header">
          <mat-card-title class="card__title">
            <span [title]=" item.gender==='male' ? 'مذکر' : 'مونث' " style="cursor: pointer">
              <mat-icon *ngIf="item.gender === 'male'; else genderLF ">male</mat-icon>
              <ng-template #genderLF>
                <mat-icon>female</mat-icon>
              </ng-template>
            </span>
            {{ item.breed }}
          </mat-card-title>
          <mat-card-subtitle class="card__subtitle">
            {{item.dateAdded | date}}
          </mat-card-subtitle>
        </mat-card-header>

          <img mat-card-image
               [src]="item.imageAddress ? item.imageAddress : 'assets/pictures/picture-not-found.jpg'"
               alt="Photo of a {{item.breed}} called {{item.name ? item.name : 'good boy'}}"
               class="card__image">

        <mat-card-content class="card__content">
<!--          <p>-->
<!--            {{item.description.slice(0,29) +( item.description.length>30? "..." : "")}}-->
<!--          </p>-->
          <p>{{item.dateAdded | datetostring}}</p>
        </mat-card-content>
        <mat-card-actions class="card__actions">
          <button mat-raised-button color="warn">سرپرستی</button>
          <button
            *ngIf="isAuth"
            mat-stroked-button
            color="warn"
            (click)="onDeleteItem(item.id)">حذف</button>
        </mat-card-actions>
        </div>


      </mat-card>
    </div>
  </div>
  </div>
<div *ngIf="isAuth">
  <p fxHide.lt-md (click)="openDialog()" >
    <span title="اضافه کردن آیتم جدید">
      <button
        class="outer-container__btn"
        mat-fab color="accent" >
        <mat-icon>
          add_circle_outline
        </mat-icon>
      </button>
    </span>
  </p>
</div>

</div>





