
<footer class="footer">
  <div class="footer__container">

    <div fxHide.lt-sm  class="footer__features footer__features--core">
      <ul class="list ">
        <mat-label>Core Assets :  </mat-label>
        <li class="list__item list__item--hover">
          <span title="JavaScript framework">
            <img src="../../assets/img/Icon/icons8-angularjs.svg" alt="Google Firebase logo" class="list__icon">
            <a href="https://angular.io/" class="list__link" target="_blank">Angular 10</a>
          </span>
        </li>
        <li class="list__item">
          <span title="Used for Backend">
            <img src="../../assets/img/Icon/icons8-firebase.svg" alt="Google Firebase logo" class="list__icon">
            <a href="https://firebase.google.com/" class="list__link" target="_blank">FireBase</a>
          </span>
        </li>
        <li class="list__item">
          <span title="Google Material design System">
            <img src="../../assets/img/Icon/angular-material-logo.svg" alt="Google Firebase logo" class="list__icon">
            <a href="https://material.angular.io/" class="list__link" target="_blank">Angular Material</a>
          </span>
        </li>
      </ul>
    </div>
    <div fxHide.lt-lg class="footer__features footer__features--lib">
      <ul class="list">
        <mat-label>Libraries :  </mat-label>
        <li class="list__item">
          <span title="Github Library">
            <img src="../../assets/img/Icon/icons8-github.svg" alt="Google Firebase logo" class="list__icon">
            <a href="https://github.com/angular/angularfire" class="list__link" target="_blank">AngularFire</a>
          </span>
        </li>
        <li class="list__item">
          <span title="Github Library">
            <img src="../../assets/img/Icon/icons8-github.svg" alt="Google Firebase logo" class="list__icon">
            <a href="https://github.com/angular/flex-layout" class="list__link" target="_blank">Angular Flex Layout</a>
          </span>
        </li>
      </ul>
    </div>


    <div class="footer__social">
      <ul class="social__list">
        <li class="social__item list__item">
          <span title="instagram page">
            <a href="#" class="list__link " target="_blank">
              <img src="../../assets/img/Icon/icons8-instagram.svg" alt="Google Firebase logo" class="social__icon" >
            </a>
          </span>
        </li>
        <li class="social__item list__item">
          <span title="Telegram channel">
            <a href="#" class="list__link" target="_blank">
              <img src="../../assets/img/Icon/icons8-telegram-app.svg" alt="Google Firebase logo" class="social__icon" >
            </a>
          </span>
        </li>
        <li class="social__item list__item">
          <span title="Twitter page">
            <a href="#" class="list__link" target="_blank">
              <img src="../../assets/img/Icon/icons8-twitter.svg" alt="Google Firebase logo" class="social__icon" >
            </a>
          </span>
        </li>
        <li class="social__item list__item">
          <span title="LinkedIn page">
            <a href="#" class="list__link" target="_blank">
              <img src="../../assets/img/Icon/icons8-linkedin.svg" alt="Google Firebase logo" class="social__icon" >
            </a>
          </span>
        </li>
      </ul>
    </div>
    <div fxHide.lt-lg class="footer__contact-info">
      <h3><strong>Contact info:</strong></h3>
      <h4>031 31234567</h4>
      <h4>omid-shelter@example.com</h4>
      <h3><strong>Address:</strong></h3>
      <h4>Isf 2250 . omid str </h4>
    </div>
    <div fxHide.lt-sm class="footer__company">

      <span>
        <a class="list__link" href="#">
          <img src="../../assets/img/logo/omid-animal-logo300-70.png" alt="Omid Animal Rescue" class="company__logo">
         <p style="text-align:justify;"><strong>سازمان حمایت از حیوانات امید</strong></p>
        </a>
      </span>

    </div>



    <div class="footer__copyright" >
      <p style="text-align: center">©Copyright 2021 "Omid Project". All rights reserved.</p>
    </div>
  </div>
</footer>
