  <mat-nav-list  fxFlex fxLayout="column" fxLayoutGap="20px">

    <div fxHide.gt-xs fxFlex fxLayoutAlign="center" fxLayoutGap="5px">
      <button
        *ngIf="!authStatus"
        mat-raised-button
        color="accent"
        routerLink="/login"
        fxFlexAlign="center"
        style="height: fit-content">ورود کاربران</button>
      <button *ngIf="authStatus" (click)="onLogOut()" mat-stroked-button  fxFlexAlign="center" style="height: fit-content">خروج</button>
      <mat-divider></mat-divider>
    </div>

    <div>

      <a
        mat-list-item
        class="header__menu-btn"
        (click)="onClose()"
        routerLink="/">
        <img
          fxHide.gt-xs
          class="header__logo"
          src="../../../assets/img/logo/logo-sm.png"
          alt="Omid organization logo"
          style=" height: 25px;">
        <span class="nav-caption">درباره امید</span>
      </a>

      <a
        mat-list-item
         class="header__menu-btn"
         (click)="onClose()"
         routerLink="/animals-list">
          <mat-icon>list</mat-icon>
          <span class="nav-caption">لیست حیوانات</span>
      </a>

      <a
        mat-list-item
         class="header__menu-btn"
        (click)="onClose()"
        routerLink="/donation">
          <mat-icon>card_giftcard</mat-icon>
          <span class="nav-caption">حمایت مالی</span>
      </a>

      <a
        mat-list-item
        class="header__menu-btn"
        (click)="onClose()"
        routerLink="/corporation">
        <mat-icon>hail</mat-icon>
        <span class="nav-caption">همکاری</span>
      </a>

      <a
        mat-list-item
        class="header__menu-btn"
        (click)="onClose()"
        routerLink="shop">
        <mat-icon>shopping_cart</mat-icon>
        <span class="nav-caption">فروشگاه</span>
      </a>

      <a
        mat-list-item
        class="header__menu-btn"
        (click)="onClose()"
        routerLink="/contactUs">
        <mat-icon>support_agent</mat-icon>
        <span class="nav-caption">ارتباط با ما</span>
      </a>
    </div>

  </mat-nav-list>
