<mat-toolbar>
<!--  <div class="outer-container">-->
    <div class="nav-container">
      <div fxHide fxLayoutAlign="center" style=" padding-top: 2em">
        <img
          class="header__logo"
          src="assets/img/logo/omid-animal-logo300-70.png"
          alt="Omid organization logo"
          style=" height: 40px;">
      </div>
      <div fxHide.gt-sm  fxLayout="row" fxLayoutAlign="space-between" class="medium__container">
        <div class="medium__item">
          <button mat-icon-button (click)="onToggle()">
            <mat-icon color="accent">menu</mat-icon>
          </button>
          <div style="display: flex; cursor: pointer" routerLink="/">
            <img
              fxHide.lt-sm
              class="header__logo"
              src="assets/img/logo/omid-animal-logo300-70.png"
              alt="Omid organization logo"
              style=" height: 40px;">
            <img
              fxHide.gt-xs
              class="header__logo"
              src="../../../assets/img/logo/logo-sm.png"
              alt="Omid organization logo"
              style=" height: 40px;">
          </div>

<!--          </a>-->


          <button
            fxHide.lt-sm
            *ngIf="!authStatus"
            mat-raised-button
            routerLink="/login"
            color="accent">
            ورود کاربران</button>
          <button *ngIf="authStatus" (click)="onLogOut()" mat-stroked-button >خروج</button>
        </div>
      </div>

      <div fxHide.lt-md class="header__navbar">
        <ul class="header__menu">
          <li routerLink="/">
<!--            <mat-icon>home</mat-icon>-->
            <a class="header__menu-btn">درباره امید</a>
          </li>
          <li routerLink="/animals-list">
<!--            <mat-icon>list</mat-icon>-->
            <a class="header__menu-btn">لیست حیوانات</a>
          </li>
          <li routerLink="/donation">
<!--            <mat-icon>attach_money</mat-icon>-->
            <a  class="header__menu-btn">حمایت مالی</a>
          </li>
          <li routerLink="/corporation">
<!--            <mat-icon>groups</mat-icon>-->
            <a class="header__menu-btn"> همکاری</a>
          </li>
          <li routerLink="/shop">
<!--            <mat-icon>shopping_cart</mat-icon>-->
            <a class="header__menu-btn">فروشگاه</a>
          </li>
          <li routerLink="/contactUs">
<!--            <mat-icon>place</mat-icon>-->
            <a  class="header__menu-btn">ارتباط با ما</a>
          </li>
        </ul>
        <div fxHide.lt-sm fxFlex fxLayoutAlign="end" fxLayoutGap="5px" style="padding-left:1em;">
          <button
            *ngIf="!authStatus"
            mat-raised-button
            color="accent"
            routerLink="/login"
            fxFlexAlign="center"
            style="height: fit-content"
          >ورود به حساب کاربری</button>
          <button *ngIf="authStatus" (click)="onLogOut()" mat-stroked-button  fxFlexAlign="center" style="height: fit-content">خروج</button>
        </div>
      </div>

    </div>
<!--  </div>-->
</mat-toolbar>
