mat-form-field{
  width: 300px;
}
.form{
  background-color: white;
  display: block;
  width: 350px;
  padding:2em;
  margin:auto;
  margin-top: 3em;
  border-radius: 5px;
}
mat-form-field {
  padding: 10px;
}
span{
  transition: color 1s;
  color:black;
}
span:hover{
  color:orangered;
  font-weight: bold;
}


.signup{
  &__container{

    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    align-items: center;
  }
  &__spinner{
    margin:4em;
  }

  &__agreement{
    align-self: flex-start;
  }

  &__submit{
    align-self: flex-start;
  }

  &__actions{
    display: flex;
    width: 100%;
    margin-top: 1em;
    justify-content: space-between;
  }
}
