$color-primary: #fdfbf7;
$color-dark-brown: #3e1908;
$color-light-brown: #ca7c62;
@import 'responsive.mixin';
* {
  box-sizing: border-box;
}

//.outer-container{
//  width: 100%;

//  &::-webkit-scrollbar{
//    display: none;
//  }
//}
//
//.content-container{
//  background-color: blue;
//
//  max-width: 1440px;
//  width: 97%;
//  overflow: hidden;
//}
.outer-container{
  width: 100%;
  background-color: #fdfbf7;
}
.inner_container{
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
}

.section {
  //width: 100vw;
  //height: 100vh;
  @include screen('desktop'){
    margin:0;
    overflow-x: hidden;
    padding: 1em;
    color: white;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: #fdfbf7;

    &__text{
      width: 50%;
      display: flex;
      text-align: right;
      flex-direction: column;
      justify-content: flex-start;
      margin-top:4em;
    }
    &__header{
      color:#563A3D;
      font-weight: bolder;
      font-size: 4em;
      line-height: 1.2em;
    }
    &__action{
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;

    }

    align-items: flex-start;

  }
  @include screen('phone'){
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    &__text{
      width: 80%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #563A3D;
    }
    &__action{
      width: 100%;
      //background-color: #3f51b5;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-around;
    }
  }





}

.banner {

  &__blob {
    display: none;
    position: absolute;
    fill: $color-light-brown;
    height: 30em;
    left: 5%;
    bottom: -10%;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
    z-index: 0;
  }
  &__image {
    margin-top: 3em;
    position: relative;
    height: 25em;
    z-index: 1;
  }

  @include screen('desktop'){
    &__blob {
      display: none;
      width: 40em;
      left: 5%;
      bottom: 0;
      animation: move 10s ease-in-out infinite;
      transform-origin: 50% 50%;
      z-index: 0;
      margin-bottom:5em;
    }
    &__image {
      position: relative;
      height: 40em;
      z-index: 1;
    }
  }
}

.action__item{
  margin:.5em;
}
//.section:nth-child(1) {
//  //background-color: $color-primary;
//  display: flex;
//    img{
//      height: 80%;
//      position: absolute;
//      bottom:0;
//      left: 25em;
//      z-index: 1;
//    }
//    div{
//      margin-right: 10em;
//      margin-top: 5em;
//      width: 40em;
//      line-height: 5em;
//      z-index: 1;
//    }
//    button{
//      margin: .5em;
//      font-size: 1.2em;
//    }
//    p{
//      font-weight: bolder;
//      font-size: 4em;
//    }
//}

@keyframes move {
  0%   { transform: scale(0.7)  }
  38%  { transform: scale(0.5, 0.7)  rotate(160deg); }
  40%  { transform: scale(0.5, 0.7)  rotate(160deg); }
  78%  { transform: scale(0.8)  rotate(-20deg); }
  80%  { transform: scale(0.8)  rotate(-20deg); }
  100% { transform: scale(0.7 )   }
}
